body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: red; /* Rote Hintergrundfarbe f端r den Header */
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    float: left;
    width: 20%;
    background-color: yellow; /* Gelbe Hintergrundfarbe f端r die Sidebar */
    padding: 15px;
    box-sizing: border-box;
}

main {
    float: left;
    width: 60%; /* Reduzierte Breite des Hauptbereichs f端r die Sidebar */
    padding: 15px;
    box-sizing: border-box;
}

footer {
    clear: both;
    background-color: blue; /* Blaue Hintergrundfarbe f端r den Footer */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px;
    margin-bottom: 5px;
    background-color: #ddd;
    border-radius: 5px;
}

nav a:hover {
    background-color: #555;
    color: #fff;
}
